html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:root {
    --body-color: rgb(35, 70, 145);
    --form-color: aliceblue;
    --put-color : rgb(145, 165, 207);
  }
body{
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content{
    margin-left: 10px;
    height: 25vh;
    width: 100%;
    align-items: center;
    display: flex;
    backdrop-filter: blur(30px);
    background-color: var(--form-color);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3)
}
h1{
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px;
}
.username{
    font-size: 30px;
}
.back-to-index{
    text-decoration: none;
    color: black;
    margin-right: 75%;
    margin-top: -105px;
    margin-bottom: 65px;
    width :25px ; 
    height: 20px;
}
.delete-button{
    display:none
  }
.deleteProfile{ 
    margin-left: 50px;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.delete-svg{
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-left: 10px; 
    cursor: pointer;
}
.put{
    background-color: var(--put-color);
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
}
.top {
    width: 100%;
    margin-top: 10vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.delete{
    width: 50%;
    height: 10vh;
    margin: 7vh auto;
    background-color: var(--put-color);
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}
.delete-profile{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.button-holder{
    width: 50%;
    font-size: 20px;
}


.put{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 5vh;
    
}
.putProfile{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 5vh;
   
}
.usernameInput,  .emailInput , .passwordInput{
    width: 50%;
    margin: 1vh auto;
    border-radius: 5px;
}
.put-button{
    margin: 3vh auto;
    border-radius: 30px;
    cursor: pointer;
}
.put-button:hover{
    transition: 1s;
    background-color: var(--body-color)
}
.delete-svg:hover{
    background-color: rgb(218, 66, 66);
    transition: 1s;
}
h2{
    font-size: 20px;
}
@media screen and (min-width: 700px){
    .content{
        height: 30vh;
        width: 60%;
        align-items: center;
        display: flex;
        flex-direction: row;
        backdrop-filter: blur(30px);
        background-color: var(--form-color);
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3)
    }
    h1{
        font-size: 50px;
        margin-right: 20px;
        margin-left: 10px;
    }
    .username{
        font-size: 50px;
    }
   .back-to-index{
        text-decoration: none;
        color: black;
        margin-right: 75%;
        margin-top: -105px;
        margin-bottom: 80px;
        width :30px ; 
        height: 30px;
    }
    .delete-profile{ 
        margin-left: 50px;
        font-size: 20px;
        margin-top: 30px;
        display: flex;
        width: 100%;
    }
    .delete-svg{
        fill: currentColor;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        cursor: pointer;
    }
    body{
        background-color: var(--body-color);
    }
    .top {
        flex-direction: row;
    }
    .delete{
        width: 20%;
    }
    .put{
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        margin-top: 10vh;
        margin-right: 60%;
    }
    .putProfile{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-top: 5vh;
    }
    .usernameInput,  .emailInput , .passwordInput{
        width: 100%;
        margin: 1vh auto;
        border-radius: 5px;
    }
    h2{
        font-size: 20px;
    }

    
   
}